<script type="text/javascript">
$(document).ready(function(){
	var mode = "<%=mode%>";
	
	var industry1 = tag_place("<%=industry1%>");
	$('#industry1').html(industry1);
	
	var industry2 = tag_place("<%=industry2%>");
	$('#industry2').html(industry2);
	
	var industry3 = tag_place("<%=industry3%>");
	$('#industry3').html(industry3);
	
	$('#industry1').change(function(){
		setPosiSelectBox();
	});
	
	$('#industry2').change(function(){
		setPosi_SelectBox();
	});
	
	$('#classify1_Y').change(function(){
		if($('#classify1_Y').is(":checked")){
			$("input:checkbox[id='classify1_N']").attr("checked", false);
		}else{
			$("input:checkbox[id='classify1_N']").attr("checked", true);
		}
	});
	
	$('#classify1_N').change(function(){
		if($('#classify1_N').is(":checked")){
			$("input:checkbox[id='classify1_Y']").attr("checked", false);
		}else{
			$("input:checkbox[id='classify1_Y']").attr("checked", true);
		}
	});
	
	$('#classify2_Y').change(function(){
		if($('#classify2_Y').is(":checked")){
			$("input:checkbox[id='classify2_N']").attr("checked", false);
		}else{
			$("input:checkbox[id='classify2_N']").attr("checked", true);
		}
	});
	
	$('#classify2_N').change(function(){
		if($('#classify2_N').is(":checked")){
			$("input:checkbox[id='classify2_Y']").attr("checked", false);
		}else{
			$("input:checkbox[id='classify2_Y']").attr("checked", true);
		}
	});
	
	$('#classify3_Y').change(function(){
		if($('#classify3_Y').is(":checked")){
			$("input:checkbox[id='classify3_N']").attr("checked", false);
		}else{
			$("input:checkbox[id='classify3_N']").attr("checked", true);
		}
	});
	
	$('#classify3_N').change(function(){
		if($('#classify3_N').is(":checked")){
			$("input:checkbox[id='classify3_Y']").attr("checked", false);
		}else{
			$("input:checkbox[id='classify3_Y']").attr("checked", true);
		}
	});
	
	$('#classify4_Y').change(function(){
		if($('#classify4_Y').is(":checked")){
			$("input:checkbox[id='classify4_N']").attr("checked", false);
		}else{
			$("input:checkbox[id='classify4_N']").attr("checked", true);
		}
	});
	
	$('#classify4_N').change(function(){
		if($('#classify4_N').is(":checked")){
			$("input:checkbox[id='classify4_Y']").attr("checked", false);
		}else{
			$("input:checkbox[id='classify4_Y']").attr("checked", true);
		}
	});
	
	$('#classify5_Y').change(function(){
		if($('#classify5_Y').is(":checked")){
			$("input:checkbox[id='classify5_N']").attr("checked", false);
		}else{
			$("input:checkbox[id='classify5_N']").attr("checked", true);
		}
	});
	
	$('#classify5_N').change(function(){
		if($('#classify5_N').is(":checked")){
			$("input:checkbox[id='classify5_Y']").attr("checked", false);
		}else{
			$("input:checkbox[id='classify5_Y']").attr("checked", true);
		}
	});
	
	$('#classify6_Y').change(function(){
		if($('#classify6_Y').is(":checked")){
			$("input:checkbox[id='classify6_N']").attr("checked", false);
		}else{
			$("input:checkbox[id='classify6_N']").attr("checked", true);
		}
	});
	
	$('#classify6_N').change(function(){
		if($('#classify6_N').is(":checked")){
			$("input:checkbox[id='classify6_Y']").attr("checked", false);
		}else{
			$("input:checkbox[id='classify6_Y']").attr("checked", true);
		}
	});
	
});

function setPosiSelectBox(){
	var s_num;
	var e_num;
	var middle_category;
	
	var upcodeval = $("#industry1 option:selected").val();
	$('#industry3 option').remove();
	
	var obj = document.getElementById("industry3");

	var opt = "";

	opt = document.createElement('option');

	opt.text = "3차 선택";

	obj.add(opt);

	switch(upcodeval){
	case "001":
		s_num = '001';
		e_num = '024';
		middle_category = 'main001_m_category';
		break;
	case "002":
		s_num = '001';
		e_num = '003';
		middle_category = 'main002_m_category';
		break;
	case "003":
		s_num = '001';
		e_num = '002';
		middle_category = 'main003_m_category';
		break;
	case "004":
		s_num = '001';
		e_num = '017';
		middle_category = 'main004_m_category';
		break;
	case "005":
		s_num = '001';
		e_num = '005';
		middle_category = 'main005_m_category';
		break;
	case "006":
		s_num = '001';
		e_num = '009';
		middle_category = 'main006_m_category';
		break;
	case "007":
		s_num = '001';
		e_num = '004';
		middle_category = 'main007_m_category';
		break;
	case "008":
		s_num = '001';
		e_num = '003';
		middle_category = 'main008_m_category';
		break;
	default:
		break;
	}

	if($("#industry1 option:selected").val() > 0){
		var selectval = $("#industry2 option:selected").val();
	} else{
		var selectval = '';
	}

	getPosition(s_num, e_num, middle_category, selectval, upcodeval);
}
	
function getPosition(s_num, e_num, p_code, selectval, upcode){
	
	selectval = "";
	
	$.ajax({
		type : "POST",
        url : "get_admin_position",
        contentType : "application/x-www-form-urlencoded; charset=UTF-8",
        data : {
        	p_code : p_code,
        	start_num : s_num,
        	end_num : e_num,
        	c_code : selectval,
        	upcode : upcode
       	}, success : function(data) {
       		$('#industry2 option').remove();
       		$('#industry2').html(data);
        }, error : function(xhr, status, error) {
        	alert("오류가 발생했습니다.");
        	console.log(error);
        	return false;
        }
	});
}

function setPosi_SelectBox(){
	var s_num;
	var e_num;
	var subclass_category;
	
	var upcodeval1 = $("#industry1 option:selected").val();
	var upcodeval2 = $("#industry2 option:selected").val();
	
	switch(upcodeval2){
	case "001":
		subclass_category = 'main' + upcodeval1 + '_m1_sc_category';
		break;
	case "002":
		subclass_category = 'main' + upcodeval1 + '_m2_sc_category';
		break;
	case "003":
		subclass_category = 'main' + upcodeval1 + '_m3_sc_category';
		break;
	case "004":
		subclass_category = 'main' + upcodeval1 + '_m4_sc_category';
		break;
	case "005":
		subclass_category = 'main' + upcodeval1 + '_m5_sc_category';
		break;
	case "006":
		subclass_category = 'main' + upcodeval1 + '_m6_sc_category';
		break;
	case "007":
		subclass_category = 'main' + upcodeval1 + '_m7_sc_category';
		break;
	case "008":
		subclass_category = 'main' + upcodeval1 + '_m8_sc_category';
		break;
	case "009":
		subclass_category = 'main' + upcodeval1 + '_m9_sc_category';
		break;
	case "010":
		subclass_category = 'main' + upcodeval1 + '_m10_sc_category';
		break;
	case "011":
		subclass_category = 'main' + upcodeval1 + '_m11_sc_category';
		break;
	case "012":
		subclass_category = 'main' + upcodeval1 + '_m12_sc_category';
		break;
	case "013":
		subclass_category = 'main' + upcodeval1 + '_m13_sc_category';
		break;
	case "014":
		subclass_category = 'main' + upcodeval1 + '_m14_sc_category';
		break;
	case "015":
		subclass_category = 'main' + upcodeval1 + '_m15_sc_category';
		break;
	case "016":
		subclass_category = 'main' + upcodeval1 + '_m16_sc_category';
		break;
	case "017":
		subclass_category = 'main' + upcodeval1 + '_m17_sc_category';
		break;
	case "018":
		subclass_category = 'main' + upcodeval1 + '_m18_sc_category';
		break;
	case "019":
		subclass_category = 'main' + upcodeval1 + '_m19_sc_category';
		break;
	case "020":
		subclass_category = 'main' + upcodeval1 + '_m20_sc_category';
		break;
	case "021":
		subclass_category = 'main' + upcodeval1 + '_m21_sc_category';
		break;
	case "022":
		subclass_category = 'main' + upcodeval1 + '_m22_sc_category';
		break;
	case "023":
		subclass_category = 'main' + upcodeval1 + '_m23_sc_category';
		break;
	case "024":
		subclass_category = 'main' + upcodeval1 + '_m24_sc_category';
		break;
	case "025":
		subclass_category = 'main' + upcodeval1 + '_m25_sc_category';
		break;
	case "026":
		subclass_category = 'main' + upcodeval1 + '_m26_sc_category';
		break;
	case "027":
		subclass_category = 'main' + upcodeval1 + '_m27_sc_category';
		break;
	case "028":
		subclass_category = 'main' + upcodeval1 + '_m28_sc_category';
		break;
	case "029":
		subclass_category = 'main' + upcodeval1 + '_m29_sc_category';
		break;
	case "030":
		subclass_category = 'main' + upcodeval1 + '_m30_sc_category';
		break;
	default:
		break;
	}

	if($("#industry2 option:selected").val() > 0){
		var selectval = $("#industry3 option:selected").val();
	} else{
		var selectval = '';
	}

	get_Position(s_num, e_num, subclass_category, selectval, upcodeval2);
}
   
   function get_Position(s_num, e_num, p_code, selectval, upcode){
	   
	   selectval = "";
	   
	   	$.ajax({
	   		type : "POST",
	           url : "get_admin_position2",
	           contentType : "application/x-www-form-urlencoded; charset=UTF-8",
	           data : {
	           	p_code : p_code,
	           	start_num : s_num,
	           	end_num : e_num,
	           	c_code : selectval,
	           	upcode : upcode
	          	}, success : function(data) {
	          		$('#industry3 option').remove();
	          		$('#industry3').html(data);
	           }, error : function(xhr, status, error) {
	           	alert("오류가 발생했습니다.");
	           	console.log(error);
	           	return false;
	           }
	   	});
   }


function complaintSave(){
	if($('#company_name').val()==''){
		alert('기업명을 입력해 주세요.');
		$('#company_name').focus();
		return false;
 	}
	if($('#orgmem_name').val()==''){
		alert('대표자를 입력해 주세요.');
		$('#orgmem_name').focus();
		return false;
 	}
	
	var form = document.company__writeForm;
	form.action='/admin/web/company_save';
	form.submit();
}

/* function file_del(no, name, type) {
	if(confirm("파일을 삭제하시겠습니까?")){
		$.ajax({
	        type:"POST",
	        url:"/admin/web/complaint_file_del",
	        data:{number : no, file_name : name, type : type},
	        success : function(data) {
	        	if(data == 'success'){
	        		window.location.reload();	
	        	}else{
	        		alert("파일삭제가 실패했습니다");
	        	}
	        },
	        error : function(xhr, status, error) {
	        	alert("파일삭제가 실패했습니다");
	        }
	  	});	
		
	}
} */

function leadingZeros(n, digits) {
	var zero = '';
	n = n.toString();
	
	if (n.length < digits) {
	  for (i = 0; i < digits - n.length; i++)
	    zero += '0';
	}
	return zero + n;
}

function CheckOnlyNumber(TextBoxControl){
	inputValue = TextBoxControl.value.replace(/ /g, "") ;
	
	if(inputValue.replace(/\d/g,"").length!=0){
		alert("숫자만 입력해주세요.");
		TextBoxControl.value = "";
		TextBoxControl.focus();
		return false ;
	}
	return true ;
}
	
</script>
<h2>
	<% if(mode == 'write'){ %>
		<span class="float_l">기업등록</span>
	<%} else {%>
		<span class="float_l">기업수정</span>
	<%}%>
</h2>

<div class="content">
	<form action="/admin/web/complaint_write" id="company__writeForm" name="company__writeForm" method="post" enctype="multipart/form-data" autocomplete="off">
		<% if(db_data.length > 0) {%> 
		<input type="hidden" name="mode" value="modify" /> 
		<input type="hidden" name="no" value="<%=db_data[0].orgmem_no %>" /> 
		<% }else{ %> 
		<input type="hidden" name="mode" value="insert" /> 
		<% } %>
		<input type="hidden" name="officer_arr" id="officer_arr" value="" />
		<input type="hidden" name="sub_officer_arr" id="sub_officer_arr" value="" />
		<input type="hidden" name="position_arr" id="position_arr" value="" />
		
		<table class="mb_10">
			<tr>
				<th><span style="color: #980000; font-weight: bold;">*</span>기업명</th>
				<% if(db_data.length > 0) {%>
					<td colspan="3">
						<input type="text" id="company_name"name="company_name" value="<%=db_data[0].company_name %>" style="ime-mode: active;" />
					</td>
				<% }else{ %>
					<td colspan="3">
						<input type="text" id="company_name"name="company_name" style="ime-mode: active;" />
					</td>
				<% } %>
			</tr>
			
			<tr>
				<th><span style="color: #980000; font-weight: bold;">*</span>대표자</th>
				<% if(db_data.length > 0) {%>
					<td colspan="3">
						<input type="text" id="orgmem_name"name="orgmem_name" value="<%=db_data[0].orgmem_name %>" style="ime-mode: active;" />
					</td>
				<% }else{ %>
					<td colspan="3">
						<input type="text" id="orgmem_name"name="orgmem_name" style="ime-mode: active;" />
					</td>
				<% } %>
			</tr>
			
			<tr>
				<th>업종_대</th>
				<td colspan="3">
					<select name="industry1" id="industry1" style="width:260px;"></select>
				</td>
			</tr>
			
			<tr>
				<th>업종_대</th>
				<td colspan="3">
					<select name="industry2" id="industry2" style="width:260px;"><option>2차 선택</option></select>
				</td>
			</tr>
			
			<tr>
				<th>업종_소</th>
				<td colspan="3">
					<select name="industry3" id="industry3" style="width:260px;"><option>3차 선택</option></select>
				</td>
			</tr>
			
			<tr>
				<th>주소</th>				
				<% if(db_data.length > 0) {%>
					<td colspan="3">
						<input type="text" id="orgmem_office_addr1" name="orgmem_office_addr1" value="<%=db_data[0].orgmem_office_addr1 %>" style="ime-mode: active;" />
					</td>
				<% }else { %>
					<td colspan="3">
						<input type="text" id="orgmem_office_addr1" name="orgmem_office_addr1" style="ime-mode: active;" />
					</td>
				<% } %>
			</tr>
			
			<tr>
				<th>우편번호</th>				
				<% if(db_data.length > 0) {%>
					<td colspan="3">
						<input type="text" id="orgmem_office_addr_zipcode" name="orgmem_office_addr_zipcode" value="<%=db_data[0].orgmem_office_addr_zipcode %>" style="ime-mode: active;" />
					</td>
				<% }else { %>
					<td colspan="3">
						<input type="text" id="orgmem_office_addr_zipcode" name="orgmem_office_addr_zipcode" style="ime-mode: active;" />
					</td>
				<% } %>
			</tr>
			
			<tr>
				<th>매출액</th>
				<% if(db_data.length > 0) {%>
					<td colspan="3">
						<input type="text" id="sales" name="sales" value="<%=db_data[0].sales %>" style="ime-mode: active;" />
					</td>
				<% }else{ %>
					<td colspan="3">
						<input type="text" id="sales" name="sales" style="ime-mode: active;" /> 						
					</td>
				<% } %>					
			</tr>
			
			<tr>
				<th>종업원수</th>
				<% if(db_data.length > 0) {%>
					<td colspan="3">
						<input type="text" id="employee_num" name="employee_num" value="<%=db_data[0].employee_num %>" style="ime-mode: active;" />
					</td>
				<% }else{ %>
					<td colspan="3">
						<input type="text" id="employee_num" name="employee_num" style="ime-mode: active;" />
					</td>
				<% } %>
			</tr>	
			<tr>
				<th>설립년도</th>
				<% if(db_data.length > 0) {%>
					<td colspan="3">
						<input type="text" id="create_year" name="create_year" value="<%=db_data[0].create_year %>" style="ime-mode: active;" />
					</td>
				<% }else{ %>
					<td colspan="3">
						<input type="text" id="create_year" name="create_year" style="ime-mode: active;" />
					</td>
				<% } %>
			</tr>
			
			<tr>
				<th>취급품목</th>
				<% if(db_data.length > 0) {%>
					<td colspan="3">
						<input type="text" id="handling_item" name="handling_item" value="<%=db_data[0].handling_item %>" style="ime-mode: active;" />
					</td>
				<% }else{ %>
					<td colspan="3">
						<input type="text" id="handling_item" name="handling_item" style="ime-mode: active;" />						
					</td>
				<% } %>
			</tr>
			
			<tr>
				<th>회사번호</th>
				<% if(db_data.length > 0) {%>
					<td colspan="3">
						<input type="text" id="company_tel1" name="company_tel1" value="<%=db_data[0].company_tel1%>" style="width: 60px" onkeyup="CheckOnlyNumber(this);" />
						&nbsp; - &nbsp;
						<input type="text" id="company_tel2" name="company_tel2" value="<%=db_data[0].company_tel2%>" style="width: 60px" onkeyup="CheckOnlyNumber(this);" />
						&nbsp; - &nbsp;
						<input type="text" id="company_tel3" name="company_tel3" value="<%=db_data[0].company_tel3%>" style="width: 60px" onkeyup="CheckOnlyNumber(this);" />
					</td>
				<% }else{ %>
					<td colspan="3">
						<input type="text" id="company_tel1" name="company_tel1" value="" style="width: 60px" onkeyup="CheckOnlyNumber(this);" />
						&nbsp; - &nbsp;
						<input type="text" id="company_tel2" name="company_tel2" value="" style="width: 60px" onkeyup="CheckOnlyNumber(this);" />
						&nbsp; - &nbsp;
						<input type="text" id="company_tel3" name="company_tel3" value="" style="width: 60px" onkeyup="CheckOnlyNumber(this);" />
					</td>
				<% } %>
			</tr>
			
			<tr>
				<th>팩스번호</th>
				<% if(db_data.length > 0) {%>
					<td colspan="3">
						<input type="text" id="orgmem_fax1" name="orgmem_fax1" value="<%=db_data[0].orgmem_fax1%>" style="width: 60px" onkeyup="CheckOnlyNumber(this);" />
						&nbsp; - &nbsp;
						<input type="text" id="orgmem_fax2" name="orgmem_fax2" value="<%=db_data[0].orgmem_fax2%>" style="width: 60px" onkeyup="CheckOnlyNumber(this);" />
						&nbsp; - &nbsp;
						<input type="text" id="orgmem_fax3" name="orgmem_fax3" value="<%=db_data[0].orgmem_fax3%>" style="width: 60px" onkeyup="CheckOnlyNumber(this);" />
					</td>
				<% }else{ %>
					<td colspan="3">
						<input type="text" id="orgmem_fax1" name="orgmem_fax1" value="" style="width: 60px" onkeyup="CheckOnlyNumber(this);" />
						&nbsp; - &nbsp;
						<input type="text" id="orgmem_fax2" name="orgmem_fax2" value="" style="width: 60px" onkeyup="CheckOnlyNumber(this);" />
						&nbsp; - &nbsp;
						<input type="text" id="orgmem_fax3" name="orgmem_fax3" value="" style="width: 60px" onkeyup="CheckOnlyNumber(this);" />
					</td>
				<% } %>
			</tr>
			
			<tr>
				<th>업체홈페이지</th>
				<% if(db_data.length > 0) {%>
					<td colspan="3">
						<input type="text" id="orgmem_homepage"name="orgmem_homepage" value="<%=db_data[0].orgmem_homepage %>" style="ime-mode: active;" />
					</td>
				<% }else{ %>
					<td colspan="3">
						<input type="text" id="orgmem_homepage" name="orgmem_homepage" style="ime-mode: active;" />	
					</td>
				<% } %>
			</tr>
			
			<tr>
				<th>신제품(NEP)</th>
				<td colspan="3">
					<% if(db_data.length > 0) {%>
						<%if( db_data[0].classify_1 == 'Y' ){%>
							<input type="checkbox" id="classify1_Y" name="classify1_Y" value="Y" checked="checked" />예
							<input type="checkbox" id="classify1_N" name="classify1_N" value="N" />아니요
						<%}else{%>
							<input type="checkbox" id="classify1_Y" name="classify1_Y" value="Y" />예
							<input type="checkbox" id="classify1_N" name="classify1_N" value="N" checked="checked" />아니요
						<%}%>
					<% }else{ %>
							<input type="checkbox" id="classify1_Y" name="classify1_Y" value="Y" checked="checked" />예
							<input type="checkbox" id="classify1_N" name="classify1_N" value="N" />아니요
					<% } %>
				</td>
			</tr>
			
			<tr>
				<th>성능인증</th>
				<td colspan="3">
					<% if(db_data.length > 0) {%>
						<%if( db_data[0].classify_2 == 'Y' ){%>
							<input type="checkbox" id="classify2_Y" name="classify2_Y" value="Y" checked="checked" />예
							<input type="checkbox" id="classify2_N" name="classify2_N" value="N" />아니요
						<%}else{%>
							<input type="checkbox" id="classify2_Y" name="classify2_Y" value="Y" />예
							<input type="checkbox" id="classify2_N" name="classify2_N" value="N" checked="checked" />아니요
						<%}%>
					<% }else{ %>
							<input type="checkbox" id="classify2_Y" name="classify2_Y" value="Y" checked="checked" />예
							<input type="checkbox" id="classify2_N" name="classify2_N" value="N" />아니요
					<% } %>
				</td>
			</tr>
			
			<tr>
				<th>여성기업</th>
				<td colspan="3">
					<% if(db_data.length > 0) {%>
						<%if( db_data[0].classify_3 == 'Y' ){%>
							<input type="checkbox" id="classify3_Y" name="classify3_Y" value="Y" checked="checked" />예
							<input type="checkbox" id="classify3_N" name="classify3_N" value="N" />아니요
						<%}else{%>
							<input type="checkbox" id="classify3_Y" name="classify3_Y" value="Y" />예
							<input type="checkbox" id="classify3_N" name="classify3_N" value="N" checked="checked" />아니요
						<%}%>
					<% }else{ %>
							<input type="checkbox" id="classify3_Y" name="classify3_Y" value="Y" checked="checked" />예
							<input type="checkbox" id="classify3_N" name="classify3_N" value="N" />아니요
					<% } %>
				</td>
			</tr>
			
			<tr>
				<th>산업융합</th>
				<td colspan="3">
					<% if(db_data.length > 0) {%>
						<%if( db_data[0].classify_6 == 'Y' ){%>
							<input type="checkbox" id="classify4_Y" name="classify4_Y" value="Y" checked="checked" />예
							<input type="checkbox" id="classify4_N" name="classify4_N" value="N" />아니요
						<%}else{%>
							<input type="checkbox" id="classify4_Y" name="classify4_Y" value="Y" />예
							<input type="checkbox" id="classify4_N" name="classify4_N" value="N" checked="checked" />아니요
						<%}%>
					<% }else{ %>
							<input type="checkbox" id="classify4_Y" name="classify4_Y" value="Y" checked="checked" />예
							<input type="checkbox" id="classify4_N" name="classify4_N" value="N" />아니요
					<% } %>
				</td>
			</tr>
			
			<tr>
				<th>우수조달</th>
				<td colspan="3">
					<% if(db_data.length > 0) {%>
						<%if( db_data[0].classify_7 == 'Y' ){%>
							<input type="checkbox" id="classify5_Y" name="classify5_Y" value="Y" checked="checked" />예
							<input type="checkbox" id="classify5_N" name="classify5_N" value="N" />아니요
						<%}else{%>
							<input type="checkbox" id="classify5_Y" name="classify5_Y" value="Y" />예
							<input type="checkbox" id="classify5_N" name="classify5_N" value="N" checked="checked" />아니요
						<%}%>
					<% }else{ %>
							<input type="checkbox" id="classify5_Y" name="classify5_Y" value="Y" checked="checked" />예
							<input type="checkbox" id="classify5_N" name="classify5_N" value="N" />아니요
					<% } %>
				</td>
			</tr>
			
			<tr>
				<th>장애인기업</th>
				<td colspan="3">
					<% if(db_data.length > 0) {%>
						<%if( db_data[0].classify_8 == 'Y' ){%>
							<input type="checkbox" id="classify6_Y" name="classify6_Y" value="Y" checked="checked" />예
							<input type="checkbox" id="classify6_N" name="classify6_N" value="N" />아니요
						<%}else{%>
							<input type="checkbox" id="classify6_Y" name="classify6_Y" value="Y" />예
							<input type="checkbox" id="classify6_N" name="classify6_N" value="N" checked="checked" />아니요
						<%}%>
					<% }else{ %>
							<input type="checkbox" id="classify6_Y" name="classify6_Y" value="Y" checked="checked" />예
							<input type="checkbox" id="classify6_N" name="classify6_N" value="N" />아니요
					<% } %>
				</td>
			</tr>
			
		</table>
	</form>

	<p class="btn">
		<% if(db_data.length > 0) {%>
			<button type="button" class="btn_big_blue hand" onclick="complaintSave();">수정</button>
		<% } else {%>
			<button type="button" class="btn_big_blue hand" onclick="complaintSave();">등록</button>
		<% } %>

		<button type="button" class="btn_big_black hand" onclick="window.close();">취소</button>
	</p>
</div>