@charset "utf-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
*{font-family: 'Noto Sans KR';}

#head {padding:7px 0;padding-top:18px; min-width:1110px; background:#595959; color:#fff;}
#head p {width:1110px; margin:0 auto;}
#head span button{margin-left:10px; font-size:11px;height: 24px;padding: 0 10px !important;}
#head .h_tit {font-size: 18px; font-weight: 400;line-height: 23px;}
#head .h_tit img{width: 130px;}

/*서브메뉴*/
#lnb {border-bottom:1px solid #c2c2c2; background:#111310; font-weight:bold; font-size:14px; min-width:1110px;}
#lnb > ul {width:1110px; margin:0 auto; border-left:1px solid #494949;}
#lnb li {float:left; width:157px; border-right:1px solid #303030;  text-align:center;}
#lnb #TopSubMenuG li {float:left; width:368px; border-right:1px solid #494949;  text-align:center;}
#lnb #TopSubMenuGa li {float:left; width:550px; border-right:1px solid #494949;  text-align:center;}
#lnb li a {display:inline-block; width:100%; padding:10px 0; color:#fff;letter-spacing: 1.5px;font-weight: 400;}
#lnb .on a{background:#3b64af;}
#lnb .sub_menu li{position: relative;border-color: transparent;}
#lnb .sub_menu .on a{background:#dadada;}
#lnb .sub_menu .on:after{content:'';background:#3b64af;position: absolute;left: 50%;bottom: 0;width:35px;height: 4px;transform: translateX(-50%);}
.sub_menu{width: 100%;background-color: #e5e5e5;position: relative; }
.sub_menu .sub_wrap{width: 1111px;margin: 0 auto;}
.sub_menu ul{width: 950px;margin: auto;}
#lnb .sub_menu ul li a{color:#000;}
#TopSubMenuEnjoy{margin-left: 0;}
#TopSubMenuComplaint{margin-left: 159px;}
#TopSubMenuSMS{margin-left: 216px;}

/*문자발송*/
.sms_form_wrap{margin-top: 20px;}
.sms_form{margin: 10px 0; border-top: 2px solid;border-bottom: 2px solid;padding: 10px;}
.sms_form::after{content: '';clear: both;display: block;}
.sms_form span{font-size: 18px;display: inline-block;width: 12%; height:100%; line-height: 30px;}
.sms_form input{width: 87%;height: 30px;box-sizing: border-box;}
.sms_form input#sms_context{height: 150px;}
.sms_form input#sms_account, .sms_form input#sms_link_address, .sms_form input#sms_file{width: 30%;}
.sms_form > div{min-height:35px; width: 100%;margin-bottom: 10px;}
.sms_form > div.sf-left,.sms_form > div.sf-right{width: 45%;}
.sms_form > div.sf-left{float: left;}
.sms_form > div.sf-right{float: right;}
.sms_form > div.sf-left span, .sms_form > div.sf-right span{width: 26%; margin-right: 3px;}
.sms_form > div input#sms_account, .sms_form > div input#sms_link_address{width: 72%;}
.sms_form .upload_btn{display: inline-block;height: 30px; vertical-align: bottom; width: 100px; line-height: 30px; border: 1px solid #9f0005;text-align: center; background-color: #9f0005; color:#fff;cursor: pointer;}
.sms_form .upload_btn span{width: 100%;font-size: 14px;}
input.btn_small_black{    padding: 5px 10px !important; background: #2a2a2a; width: 80px; font-size: 14px;height: 25px; line-height: 1px;}
.send_btn_wrap{text-align: center;}
.sms_form .scheSpan{font-size: 16px;display: inline-block;width: 12%; height:100%; line-height: 30px;}
.sms_form .chkTypeYn {width:15px;height:15px;box-sizing : border-box;}
.sms_form .scheTimecs {width:200px;height:15px;box-sizing : border-box;}

/*검색폼*/
.search_form_area{background-color:#f6f6f6;padding: 8px 25px;box-sizing: border-box;height: auto;margin-bottom:10px;}
.search_form_area input[type="checkbox"]{width: 35px;margin-bottom:10px;cursor: pointer;}
.search_form_area input[type="checkbox"] + label {margin-left: -5px;cursor: pointer;}
.search_form_area .form_list input[type="checkbox"] + label{width: 54px; display: inline-block;transform: translate(1px, -3px);}
#group_check input[type="checkbox"] + label{transform: translate(1px, -3px);display: inline-block;width: 196px;}
.form_title{display: inline-block; width: 5rem;vertical-align: top;font-size: 15px;font-weight: 400;}

.search_list:after{content:'';display:block;clear:both; }
.form_list{width: 58rem;display:inline-block}
.search_form_area .gender input[type="checkbox"] + label{margin-left: -8px; width: 51px;}
.select_search{width: 58rem;border: 1px solid #ccc;}
input#search_text{width: 235px;border: 1px solid #ccc;}
.search_txt_area .btn_small_black{padding: 0 !important;border: 0;height: 23px; line-height: 23px;  width: 70px;background: #a41717;}
span#group_check{width: 58.5rem; float: right;}
.select_search_bt{width: 5rem;height: 31px;}
.search_txt_area input.select_btn{height: 31px;}
.search_txt_area{text-align: center; margin-top: 20px;}

#container {position:relative; margin:5px auto; padding:15px 20px; width:1070px; background:#fff; border:1px solid #e0e0e0;}
#container h3 {background:url(../images/h3.gif) left center no-repeat; font-size:22px;position: relative;z-index: 1;line-height: 20px;}
#container h3 div{width: 100%; height: 7px; background-color: #ffcacc; position: absolute; right: 0; bottom: 0; z-index: -1;}

#footer {text-align:center;}

.popup {margin:0 auto;}
.popup h2{clear:both; padding:7px 10px; background:#3b64af;color:#fff; font-size:14px; overflow:hidden;}
.popup .content .btn {margin-top:20px; padding:20px; border-top:1px dotted #9c9c9c; text-align:center;}
.popup .content table {width:100%;}
.popup .content th, .popup .content td {padding:4px; border:1px solid #c6c6c6;}
.popup .content th{width:117px; background:#eee;}
.popup .content td input[type~="text"], .popup .content td input[type~="text"], .popup .content td textarea{width:95%;}
.popup .content td dt{margin:5px 0 10px 0; color:#999; padding-left:20px; background:url(../images/icon_name.gif) left top no-repeat;}
.popup .content td dt strong {font-size:14px; color:#000;}
.popup .content table .title {text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}

.popup_list {height:155px; overflow-y:auto; overflow-x:hidden;height: 19px;}
.popup_list2 {height:255px; overflow-y:auto; overflow-x:hidden;height: 109px;}


#head_ios {position:fixed; top:0; width:100%; z-index:2; padding:10px 0 7px 0; background:#3b64af; text-align:center; color:#fff; font-size:1em; font-weight:bold; line-height:100%;}
#head_ios img {position:absolute; left:10px; top:7px; height:20px; }
#container_ios {margin:50px 10px 10px 10px; padding-bottom:65px;}
#container_ios img {max-width:100%;}
#footer_ios {position:fixed; bottom:0; width:100%; padding:10px 0; color:#fff; font-size:0.75em; line-height:100%; text-align:center; background:#2f2f2f; z-index:1;}


/* 2017 new */

#memberImg, #memberImg2 { width: 97%; }
#orgmem_position { width: 50%; }
#orgmem_birth_month, #orgmem_birth_day, #orgmem_join_month { width: 70%; }
#orgmem_birth_year, #orgmem_join_year { width: 75%; }
.mb_10 tbody tr td select { width: 100%; }
.mb_10 tbody tr:nth-of-type(8) td { border: 1.2px solid #c6c6c6; }


@media screen (max-width : 1070px){
	
}